<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
<div class="form">
  <form>
    <h2>Register</h2>
    <div class="input-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="email" name="email" placeholder="Username" required>
    </div>
    <div class="input-box">
      <i class="fa fa-unlock-alt" aria-hidden="true"></i>
      <input type="password" name="pwd" placeholder="Password" required>
    </div>
    <div class="input-box">
      <input type="submit" name="sign-in" value="Login">
    </div>
    <a hrerf="/">Navigate to main</a>
  </form>
</div>
</body>
</html>