<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Mails</title>
    <link rel="stylesheet" type="text/css" href="/static/css/acceuil.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Font+Awesome">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-oXw5vOVaPvfVCIz6B4yLca0ThQEXsaRjzb5OMfFgFSJGgiFGtUgq3+Xzp2Fp0Dl/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div class="courrier-list">
    <h1>List of Mails</h1>
    <!-- Existing Table -->
    <table class="table1">
        <thead>
        <tr>
            <th>Action</th>
            <th>ID</th>
            <th>Type</th>
            <th>Date</th>
            <th>Date BO</th>
            <th>Objet</th>
            <th>Affectations</th>
            <th>Destinataire</th>
            <th>Numero</th>
            <th>Numero BO</th>
            <th>Origin</th>
            <th>Observation</th>
            <th>Pieces Jointes</th>
            <th>Created at</th>
            <th>Updated at</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="courrier : ${all}" class="courrieraRow">
            <td>
                <form th:action="@{/ca/updateca}" method="post">
                    <input type="hidden" name="caId" th:value="${courrier.id}"/>
                    <button type="submit">Modify</button>
                </form>
                <form th:action="@{/ca/deleteca}" method="post">
                    <input type="hidden" name="caId" th:value="${courrier.id}"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td th:text="${courrier.id}"></td>
            <td>
                <select name="type" th:value="${courrier.type}">
                    <option disabled selected th:text="${courrier.type}"></option>
                    <option th:each="type : ${allca}" th:value="${type.id}" th:text="${type.type}"></option>
                </select>
            </td>
            <td><input type="date" name="date" th:value="${courrier.date}"></td>
            <td><input type="date" name="datebo" th:value="${courrier.datebo}"></td>
            <td><input type="text" name="objet" th:value="${courrier.objet}"></td>
            <td><input type="text" name="affet" th:value="${courrier.affet}"></td>
            <td><input type="text" name="dest" th:value="${courrier.dest}"></td>
            <td><input type="number" name="num" th:value="${courrier.num}"></td>
            <td><input type="number" name="numbo" th:value="${courrier.numbo}"></td>
            <td><input type="text" name="origin" th:value="${courrier.origin}"></td>
            <td><textarea name="obs" rows="3" cols="20" th:text="${courrier.obs}"></textarea></td>
            <td><input type="text" name="pj" th:value="${courrier.pj}"></td>
            <td><input type="datetime-local" name="created" th:value="${courrier.created}"></td>
            <td><input type="datetime-local" name="updated" th:value="${courrier.updated}"></td>
        </tr>
        </tbody>
    </table>
    <!-- New Table with Insert Action -->
    <h1>Insert New Mail</h1>
    <table class="table1">
        <thead>
        <tr>
            <th>Action</th>
            <th>ID</th>
            <th>Type</th>
            <th>Date</th>
            <th>Date BO</th>
            <th>Objet</th>
            <th>Affectations</th>
            <th>Destinataire</th>
            <th>Numero</th>
            <th>Numero BO</th>
            <th>Origin</th>
            <th>Observation</th>
            <th>Pieces Jointes</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <form th:action="@{/ca/insertca}" method="post">
                <td>
                    <button type="submit">Insert</button>
                </td>
                <td></td>
                <td>
                    <select name="type">
                        <option disabled selected>Select Type</option>
                        <option value="urgent">Urgent</option>
                    </select>
                </td>
                <td><input type="date" name="date"></td>
                <td><input type="date" name="datebo"></td>
                <td><input type="text" name="objet"></td>
                <td><input type="text" name="affet"></td>
                <td><input type="text" name="dest"></td>
                <td><input type="number" name="num"></td>
                <td><input type="number" name="numbo"></td>
                <td><input type="text" name="origin"></td>
                <td><textarea name="obs" rows="3" cols="20"></textarea></td>
                <td><input type="text" name="pj"></td>
                <td><input type="datetime-local" name="created"></td>
                <td><input type="datetime-local" name="updated"></td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
